<template>
  <div>
    <table class="table table-hover table-striped">
      <thead class="thead-default">
        <tr>
          <th> <i class="fa fa-home"></i> Sala</th>
          <th> <i class="fa fa-users"></i> Usuários</th>
          <th> <i class="fa fa-gear"></i> Ações</th>
        </tr>
      </thead>
      <tbody>
        <room-list-item
          v-for="room in rooms"
          :room="room"
          :key="room.id"
          @deleteRoom="onDeleteRoom"
          ></room-list-item>
      </tbody>
    </table>
  </div>
</template>

<script>
import RoomListItem from './RoomListItem';

export default {
  name: 'RoomList',
  components: {
    [RoomListItem.name]: RoomListItem,
  },
  props: {
    rooms: {
      type: Array,
      required: true,
    },
  },
  methods: {
    onDeleteRoom(roomId) {
      this.$emit('deleteRoom', roomId);
    },
  },
};
</script>

<style lang="sass">
  .table
    margin: 20px 0 10px

  table thead tr th
    text-align: left
  table thead tr th:nth-of-type(1)
    text-align: left
</style>
