<template>
  <tr>
    <td>{{ room.name }}</td>
    <td>{{ room.users.length }} / {{ room.maxUsers }}</td>
    <td class="text-left">
      <router-link
        :to="{ name: 'Room', params: { id: room._id } }"
        class="btn btn-info">
        <i class="fa fa-comments"></i> Entrar
      </router-link>
      <button
        class="btn btn-danger text-center"
        v-if="room.owner._id === user._id"
        @click="deleteRoom(room._id)">
        <i class="fa fa-trash text-center"></i>
      </button>
    </td>
  </tr>
</template>

<script>
import ChatService from '@/services/chat';

export default {
  name: 'RoomListItem',
  props: {
    room: {
      type: Object,
      required: true,
    },
  },
  computed: {
    user() {
      return ChatService.getUser();
    },
  },
  methods: {
    deleteRoom(roomId) {
      this.$emit('deleteRoom', roomId);
    },
  },
};
</script>

<style lang="sass">
  tr td
    text-align: center

  tr td:nth-of-type(1)
    text-align: left
</style>
