<template>
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-xs-8">
          <div class="user-info">
            Conectado como:
            <span class="user-dynamic-info">{{ user.name }} ({{user.email}})</span>
          </div>
        </div>
        <div class="col-md-2 col-xs-4">
          <div class="actions text-right">
            <button class="btn btn-primary" @click="logout">Sair</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ChatService from '@/services/chat';

export default {
  name: 'TopBar',
  methods: {
    logout() {
      ChatService.logout();
      this.$router.push({ name: 'SignUp' });
    },
  },
  computed: {
    user() {
      return ChatService.getUser();
    },
  },
};
</script>

<style lang="sass">
  .top-bar
    position: fixed
    height: 50px
    background-color: #363636
    color: #ccc
    top: 0
    right: 0
    left: 0
    text-align: center

  .user-info
    height: 50px;
    display: flex
    justify-content: center
    align-items: center

  .actions .btn
    margin-top: 8px

  .user-dynamic-info
    font-weight: bold
    margin-left: 10px
</style>
