<template>
  <div class="wrapper">
    <div class="form-wrapper">
      <div class="container">
        <form @submit="enter" novalidate>
          <div class="row">
            <h1 class="form-title">Criar sala</h1>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" :class="fieldValidationState('nome')">
                <label for="room-name" class="control-label">Nome: *</label>
                <input
                  v-model="room.name"
                  type="text"
                  class="form-control"
                  id="room-name"
                  placeholder="Nome da sua sala"
                  name="room-name"
                  data-vv-name="nome"
                  v-validate="'required'">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" :class="fieldValidationState('máximo de usuários')">
                <label for="room-maxUsers" class="control-label">Máximo de usuários: *</label>
                <input
                  v-model="room.maxUsers"
                  type="number"
                  class="form-control"
                  id="room-maxUsers"
                  name="room-maxUsers"
                  placeholder="Número máximo de usuários"
                  data-vv-name="máximo de usuários"
                  v-validate="'required|numeric'">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Entrar!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import ChatService from '@/services/chat';
import { API_ADDRESS } from '@/config/env';

export default {
  name: 'CreateRoom',
  data: () => ({
    room: {
      name: '',
      maxUsers: '',
    },
  }),
  computed: {

  },
  methods: {
    fieldValidationState(field) {
      const classes = {
        'has-error': this.errors.has(field),
        // 'has-success': !this.errors.has(field),
      };
      return classes;
    },
    enter(event) {
      event.preventDefault();

      this.$validator.validateAll().then((success) => {
        if (!success) return;

        this.room.owner = ChatService.getUser();

        axios.post(`${API_ADDRESS}/room/`, this.room)
          .then((res) => {
            /* eslint-disable-next-line */
            this.$router.push({ name: 'Room', params: { id: res.data.room._id } });
          });
      });
    },
  },
};
</script>

<style lang="sass" scoped>
  .wrapper
    position: fixed
    height: 100vh
    width: 100vw
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: #EFF5F8
    overflow-y: auto
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

  .form-wrapper
    display: flex
    height: 50vh
    width: 50vw

    form
      width: 100%

    .form-title
      text-align: center
</style>
