<template>
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8" :class="messageContainerCssClasses">
      <div :class="messageCssClasses">
        <div class="msg-info">
          <p>
            <span class="msg-username">{{ message.sender.name }}</span>
            -
            <span class="msg-timestamp">{{ message.timestamp | roomMessageFormat }}</span>
          </p>
        </div>
        <div class="msg-body">{{ message.text }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import ChatService from '@/services/chat';

export default {
  name: 'RoomMessage',
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
  computed: {
    messageCssClasses() {
      return ChatService.getUser()._id === this.message.sender._id
        ? 'room-msg-me'
        : 'room-msg-others';
    },
    messageContainerCssClasses() {
      // console.log(this.message);
      return ChatService.getUser()._id !== this.message.sender._id
        ? ''
        : 'col-xs-offset-2 col-sm-offset-2 col-md-offset-4 col-lg-offset-4';
    },
  },
};
</script>

<style lang="sass">
  .msg-info
    margin-top: 10px
  .room-msg-me .msg-body, .room-msg-others .msg-body
    min-height: 40px
    margin-top: 15px
    position: relative
    color: white
    // border: 2px solid #FFF;
    padding: 10px

  .room-msg-me .msg-body
    background: #30CC71
    // border: 1px solid #30CC71

  .room-msg-others .msg-body
    background: #69C3F0
    // border: 1px solid #69C3F0

  .room-msg-me .msg-body
    position: relative;
    background: #30CC71;

  .room-msg-me .msg-body:after,
  .room-msg-me .msg-body:before,
  .room-msg-others .msg-body:after,
  .room-msg-others .msg-body:before
    bottom: 100%;
    left: 3%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

  .room-msg-me .msg-body:after
    border-color: rgba(48, 204, 113, 0);
    border-bottom-color: #30CC71;
    border-width: 10px;
    margin-left: -10px;

  .room-msg-others .msg-body:after
    border-color: rgba(79, 195, 241, 0);
    border-bottom-color: #4FC3F1;
    border-width: 10px;
    margin-left: -10px;

  .room-msg-me .msg-body:before, .room-msg-others .msg-body:before
    border-color: rgba(255, 255, 255, 0);
    border-width: 13px;
    margin-left: -13px;
    // border-bottom-color: #FFF;

  .msg-username
    font-weight: bold
</style>
