<template>
  <div class="room-page-wrapper">
    <div class="users-sidebar">
      <ul class="users-list">
        <li class="title">Usuários</li>
        <li v-for="user in room.users" :key="user._id" v-if="notMe(user._id)">{{ user.name }}</li>
      </ul>
    </div>
    <div class="chat-wrapper">
      <div class="room-header">
        <div class="text-center room-name">{{ room.name }}</div>
      </div>
      <div class="room-messages" ref="messagesDiv">
        <div class="full">
          <div class="row">
            <div class="col-md-12">
              <room-message
                v-for="message in room.messages"
                :key="message._id"
                :message="message">
              </room-message>
            </div>
          </div>
        </div>
      </div>
      <div class="room-controls">
        <div class="row no-gutters fh">
          <form @submit.prevent="chat" class="fh">
            <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10 fh no-gutters">
              <textarea type="text" class="form-control fh" v-model="message.text"></textarea>
            </div>
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 fh no-gutters">
              <button class="btn btn-primary btn-block fh" type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import ChatSocket from '@/services/socket';
import ChatService from '@/services/chat';
import { API_ADDRESS } from '@/config/env';
import RoomMessage from './RoomMessage';

export default {
  name: 'Room',
  components: {
    [RoomMessage.name]: RoomMessage,
  },
  data: () => ({
    room: [],
    message: {
      text: '',
    },
    counter: 0,
  }),
  methods: {
    notMe(id) {
      /* eslint-disable-next-line */
      return ChatService.getUser()._id !== id;
    },
    updateRoom(firstTime) {
      axios.get(`${API_ADDRESS}/room/${this.$route.params.id}`)
        .then((res) => {
          this.room = res.data.room;

          this.$refs.messagesDiv.scrollTop =
            (this.$refs.messagesDiv.scrollHeight - this.$refs.messagesDiv.clientHeight);

          const data = {
            user: ChatService.getUser(),
            room: res.data.room,
          };

          if (firstTime) {
            ChatSocket.emit.enterRoom(data);
          }
        })
        .catch();
    },
    chat() {
      const message = {
        text: this.message.text,
        sender: ChatService.getUser(),
        room: this.room,
      };

      ChatSocket.emit.chat({
        user: ChatService.getUser(),
        message,
      });

      this.message.text = '';
    },
  },

  mounted() {
    ChatSocket.socket.on(ChatSocket.events.ENTER_ROOM, (data) => {
      this.updateRoom();
      if (!this.room.users.find(u => u._id === data.user._id)) {
        // this.room.users.push(data.user);
        this.$toastr('info', data.user.name, 'Usuário entrou');
      }
    });

    ChatSocket.socket.on(ChatSocket.events.LEAVE_ROOM, (data) => {
      if (this.notMe(data.user._id)) {
        this.$toastr('info', data.user.name, `Usuário ${data.user.name} saiu da sala.`);
      }
      // this.updateRoom();
    });

    ChatSocket.socket.on(ChatSocket.events.USER_ENTER_ROOM, (data) => {
      if (data.room._id === this.room._id) {
        this.updateRoom();
      }
    });

    ChatSocket.socket.on(ChatSocket.events.USER_LEAVE_ROOM, (data) => {
      if (data.room._id === this.room._id) {
        this.updateRoom();
      }
    });

    ChatSocket.socket.on(ChatSocket.events.NEW_MESSAGE_IN_ROOM, (data) => {
      if (data.message.room._id === this.room._id) {
        this.room.messages.push(data.message);
      }
    });
  },

  beforeMount() {
    this.updateRoom(true);
  },

  beforeRouteLeave(to, from, next) {
    ChatSocket.emit.leaveRoom({
      user: ChatService.getUser(),
      room: this.room,
    });
    next();
  },
};
</script>

<style lang="sass">
  .container-fluid
    padding-left: 0
    padding-right: 0

  .panel
    border-radius: 0

  .panel-body
    background-color: #F0F5F8

  .room-page-wrapper
    position: fixed
    width: 100vw
    height: 100vh
    top: 50px
    left: 0
    right: 0
    bottom: 0
    display: flex

  .users-sidebar
    width: 300px
    background-color: #606060
    height: 100%
    overflow-y: auto

    .users-list
      list-style: none
      width: 100%
      padding: 0

      li
        display: block
        height: 46px
        background-color: #303030
        color: #ccc
        padding: 10px
        width: 100%
        transition: 0.1s
        // cursor: pointer
        &:hover
          background-color: rgba(0,0,0,.3)

      li.title
        // height: 70px
        cursor: auto
        display: flex
        justify-content: center
        align-items: center
        text-transform: uppercase
        text-align: center
        background-color: rgba(0,0,0,.6)
        font-weight: bold


  .chat-wrapper
    width: calc(100% - 300px)
    height: 100%
    padding: 0
    background-color: #eee
    position: relative

    .full
      width: 100%
      padding: 40px

    .room-header
      height: 100px;
      background-color: #7178fc
      display: flex
      justify-content: center
      align-items: center

      .room-name
        text-align: center
        font-size: 2em;
        color: #fff

    .room-messages
      height: calc(100% - 250px)
      max-height: calc(100% - 250px)
      overflow-y: auto

    .room-controls
      height: 100px
      bottom: 0
      right: 0
      left: 0
      position: absolute
      padding: 0
      // border: solid 2px black
      margin-bottom: 50px

      .fh
        height: 100% !important

      .form-control
        border-radius: 0
        margin: 0

      .btn
        border-radius: 0
        font-size: 1.5em

      .no-gutters
        margin-right: 0
        margin-left: 0
        padding-right: 0
        padding-left: 0

      .row.no-gutters
        margin-right: 0
        margin-left: 0


      .row.no-gutters > [class^="col-"],
      .row.no-gutters > [class*=" col-"]
        padding-right: 0
        padding-left: 0
</style>
