<template>
  <div id="app" :class="{ 'topbar-padding': isLoggedIn }">
    <top-bar v-if="isLoggedIn"></top-bar>
    <router-view/>
  </div>
</template>

<script>
import TopBar from '@/components/UIComponents/TopBar';
import ChatService from '@/services/chat';

export default {
  name: 'App',
  components: {
    [TopBar.name]: TopBar,
  },
  computed: {
    isLoggedIn() {
      return !!ChatService.getUser();
    },
  },
};
</script>

<style lang="sass">
  @import 'bootstrap/dist/css/bootstrap.css' // Bootstrap -> framework de css.
  @import 'font-awesome/css/font-awesome.css'
  @import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700') // A fonte utilizada.
  @import '@deveodk/vue-toastr/dist/@deveodk/vue-toastr.css' // Toastr, para notificações.
  body
    font-family: 'Nunito', 'sans-serif'

  .topbar-padding
    padding-top: 50px

  button, .btn
    border-radius: 1px
    transition: 0.1s

  button .fa
    margin-right: 7px

  .form-control
    border-radius: 1px
</style>
