<template>
  <div class="container">

    <h1 class="text-center lobby-header">Lobby</h1>
    <h2 class="text-center lobby-header-small">
      Crie ou entre em uma sala!
    </h2>

    <div class="row text-center">
      <router-link
        :to="{ name: 'CreateRoom' }"
         class="btn btn-primary">
        <i class="fa fa-plus"></i>  Nova sala
      </router-link>
    </div>

    <div class="row">
      <div class="col-md-12">
        <room-list
          :rooms="rooms"
          @deleteRoom="onDeleteRoom">
        </room-list>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios';
import { API_ADDRESS } from '@/config/env';
import socket from '@/services/socket';
import ChatService from '@/services/chat';
import RoomService from '@/services/room';
import RoomList from './UIComponents/room/RoomList';

export default {
  name: 'Lobby',
  data: () => ({
    rooms: [],
  }),
  components: {
    [RoomList.name]: RoomList,
  },
  methods: {
    updateRooms(rooms) {
      if (rooms) {
        this.rooms = rooms;
        return;
      }
      axios.get(`${API_ADDRESS}/room`)
        .then((res) => {
          this.rooms = res.data.data;
        })
        .catch(() => {
          this.$toastr('error', 'Erro ao atualizar lista de salas', 'Erro');
        });
    },
    onDeleteRoom(roomId) {
      RoomService.deleteRoom(roomId)
        .then(() => {
          socket.emit.deleteRoom({ room: this.rooms.find(r => r._id === roomId) });
          this.rooms = this.rooms.filter(r => r._id !== roomId);
        })
        .catch();
    },
  },
  beforeMount() {
    socket.emit.enterLobby({ user: ChatService.getUser() });
    socket.socket.on(socket.events.DELETED_ROOM, () => { this.updateRooms(); });
    socket.socket.on(socket.events.CREATE_ROOM, () => { this.updateRooms(); });
    socket.socket.on(socket.events.USER_ENTER_ROOM, () => { this.updateRooms(); });
    socket.socket.on(socket.events.USER_LEAVE_ROOM, () => { this.updateRooms(); });
    this.updateRooms();
  },

  mounted() {
  },
};
</script>

<style lang="sass">
  h1.lobby-header
    font-weight: 100 !important
    font-size: 6em;
  h3.lobby-header-small
    font-weight: 100 !important
    font-size: 1em;
</style>
