<template>
  <div class="wrapper">
    <div class="form-wrapper">
      <div class="container">
        <form @submit="enter" novalidate>
          <div class="row">
            <h1 class="form-title">Bem vindo!</h1>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" :class="fieldValidationState('nome')">
                <label for="user-name" class="control-label">Nome: *</label>
                <input
                  v-model="user.name"
                  type="text"
                  class="form-control"
                  id="user-name"
                  placeholder="Seu nome"
                  name="user-name"
                  data-vv-name="nome"
                  v-validate="'required|alpha_spaces'">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" :class="fieldValidationState('email')">
                <label for="user-email" class="control-label">Email: *</label>
                <input
                  v-model="user.email"
                  type="email"
                  class="form-control"
                  id="user-email"
                  name="user-email"
                  placeholder="Seu email"
                  data-vv-name="email"
                  v-validate="'required|email'">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Entrar!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import ChatService from '@/services/chat';
import { API_ADDRESS } from '@/config/env';

export default {
  name: 'SignUp',
  data: () => ({
    user: {
      name: '',
      email: '',
    },
  }),
  computed: {

  },
  methods: {
    fieldValidationState(field) {
      const classes = {
        'has-error': this.errors.has(field),
        // 'has-success': !this.errors.has(field),
      };
      return classes;
    },
    enter(event) {
      event.preventDefault();

      this.$validator.validateAll().then((success) => {
        if (!success) return;

        axios.post(`${API_ADDRESS}/user/`, this.user)
          .then((res) => {
            ChatService.storeUser(res.data.user);
            this.$router.push({ name: 'Lobby' });
          });
      });
    },
  },
};
</script>

<style lang="sass" scoped>
  .wrapper
    position: fixed
    height: 100vh
    width: 100vw
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: #EFF5F8
    overflow-y: auto
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

  .form-wrapper
    display: flex
    height: 50vh
    width: 50vw

    form
      width: 100%

    .form-title
      text-align: center
</style>
